@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root {
  --primary-light: #6A040F;
  --primary-dark: #370617; 
}

.icon {
  color: var(--primary-dark);
}

@layer base {
  body {
    @apply font-[Jost]
  }
  li {
    @apply p-4  
  }
  h1 {
    @apply text-3xl md:text-4xl font-bold
  }

  h2 {
    @apply text-3xl font-bold
  }

  h3 {
    @apply text-xl font-bold
  }
  button {
    @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-[#FFF1C2] rounded-md
  }
  .icon {
    @apply text-2xl cursor-pointer
  }
}
